version: 2
jobs:
  # Install dependencies
  build:
    docker:
      - image: circleci/node:10.15.3
    environment:
      - SKIP_PREFLIGHT_CHECK: true

    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: yarn lint
      - run: yarn test
      - run: yarn test --coverage && yarn codecov
      # - run: yarn build:lib
