.App {
  text-align: center;
}

.form {
  margin-top: 32px;
}

.form__item {
  display: flex;
  width: 50%;
  height: 32px;
  margin: auto;
}

.form__item-label {
  width: 128px;
  text-align: right;
}

.form__item-field {
  margin-left: 32px;
  width: calc(100% - 128px);
  text-align: left;
}
