body {
  background-color: #ffffff;
  color: #424242;
  font-family: Poppins, HiraginoSans-W3;
}

.App {
  width: 85%;
  margin: auto;
  position: relative;
}

.App__link-to-repo {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App__link-to-repo > a {
  display: inline-block;
  padding: 6px;
  width: 32px;
  height: 32px;
}

.App__link-to-repo:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.App__title-container {
}

.App__title {
}

.container {
  /* display: grid;
  grid-template-columns: 50% 50%; */
  display: flex;
}

.form {
  display: block;
  width: 60%;
}

.form__item {
  padding: 8px 24px;
}

.form__item-label {
  text-align: left;
  margin: 8px 0;
}

.form__item-field {
  text-align: left;
}

.preview {
  width: 40%;
}

.preview__values {
  background-color: #303030;
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
