body {
  background-color: #ffffff;
  color: #424242;
  font-family: Poppins, HiraginoSans-W3;
}

.App {
  width: 85%;
  margin: auto;
}

.App__title-container {
}

.App__title {
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.form {
  display: block;
  position: sticky;
  top: 0px;
}

.form__item {
  padding: 8px 24px;
}

.form__item-label {
  text-align: left;
  margin: 8px 0;
}

.form__item-field {
  text-align: left;
}

.preview {
}

.preview__values {
  background-color: #303030;
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
